<link rel="stylesheet" href="{{ 'brands.css' | asset_url }}" media="print" onload="this.media='all'">



<div class="slider" id="slider" style="background: #F9F5F0 0% 0% no-repeat padding-box;height:400px;width:110%">
  {%- if section.settings.brands_heading1!= blank or brands_heading2!= blank-%}
    <h1 style="width:80%;font: normal normal normal 16px/24px Noto Sans TC Light;letter-spacing: 0px;color: #C79090;font-size:45px;margin-bottom:50px;margin-top:0px;padding-top:52px;">{{section.settings.brands_heading1}}</h1>
    <h1 style="width:80%;font: normal normal normal 16px/24px Noto Sans TC Light;letter-spacing: 0px;color: #C79090;font-size:25px;margin-bottom:50px;">{{section.settings.brands_heading2}}</h1>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    <div class="slider " id="slider">
      {%- for block in section.blocks -%}
        <div class="slider {{ block.shopify_attributes }}">
          {%- case block.type -%}
            {%- when 'image' -%}
              <div class=" {{ block.settings.alignment }}">
                {%- if block.settings.image != blank -%}
                  {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                  <img class="item" srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x" src="{{ block.settings.image | image_url: width: 200}}" alt="{{ block.settings.image.alt | escape }}" loading="lazy" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" style="max-width: min(100%, {{ block.settings.image_width }}px);">
                {%- else -%}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                {%- endif -%}
              </div>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
    <button class="ctrl-btn pro-prev">Prev</button>
    <button class="ctrl-btn pro-next">Next</button>
  {%- endif -%}

<!--

  <div class="slide" id="slide">
    <img class="item" src="http://via.placeholder.com/200x200?text=Product1">
    <img class="item" src="http://via.placeholder.com/200x200?text=Product1">
    <img class="item" src="http://via.placeholder.com/200x200?text=Product1">
    <img class="item" src="http://via.placeholder.com/200x200?text=Product1">
    <img class="item" src="http://via.placeholder.com/200x200?text=Product2">
    <img class="item" src="http://via.placeholder.com/200x200?text=Product2">
    <img class="item" src="http://via.placeholder.com/200x200?text=Product2">
    <img class="item" src="http://via.placeholder.com/200x200?text=Product2">
    <img class="item" src="http://via.placeholder.com/200x200?text=Product3">
    <img class="item" src="http://via.placeholder.com/200x200?text=Product3">
    <img class="item" src="http://via.placeholder.com/200x200?text=Product3">
    <img class="item" src="http://via.placeholder.com/200x200?text=Product3">
  </div>
  <button class="ctrl-btn pro-prev">Prev</button>
  <button class="ctrl-btn pro-next">Next</button>
-->
</div>


{% schema %}
  {
  "name": "Brands",
  "blocks": [
     {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "range",
            "id": "image_width",
            "min": 50,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Image width",
            "default": 100
          }, {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment on large screen",
            "options": [
              {
                "value": "",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          }
        ]
      }
    ],
  "settings": [
    {
      "type": "text",
      "id": "brands_heading1",
      "label": "Heading1",
      "default": "OUR BRANDS"
    },
    {
      "type": "text",
      "id": "brands_heading2",
      "label": "Heading2",
      "default": "我們的品牌"
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}