<!--<link rel="stylesheet" href="{{ 'brands.css' | asset_url }}" media="print" onload="this.media='all'">-->

<div style="background: #F9F5F0;width:100%;height: 400px;margin:200px auto;overflow: hidden;position: relative;margin:0px;">
  {%- if section.settings.brands_heading1!= blank or brands_heading2!= blank-%}
    <h1 style="padding-left:50px;width:80%;font: normal normal normal 16px/24px Noto Sans TC Light;letter-spacing: 0px;color: #C79090;font-size:45px;margin-bottom:50px;margin-top:0px;padding-top:52px;">{{section.settings.brands_heading1}}
    </h1>
    <h1 style="padding-left:50px;width:80%;font: normal normal normal 16px/24px Noto Sans TC Light;letter-spacing: 0px;color: #C79090;font-size:25px;margin-bottom:50px;">{{section.settings.brands_heading2}}
    </h1>
  {%- endif -%}
  <span class="span_img">&#139;</span>
  <span class="span_img">&#155;</span>
  <section class="section_img">
    {%- if section.blocks.size > 0 -%}
      <div class="div_img">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'image' -%}
              {%- if block.settings.image != blank -%}
                {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                <img src="{{ block.settings.image | image_url: width: 200}}" alt="{{ block.settings.image.alt | escape }}" loading="lazy">
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </section>

</div>

{% schema %}
  {
    "name": "brands",
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "brands_heading1",
        "label": "Heading1",
        "default": "OUR BRANDS"
      }, {
        "type": "text",
        "id": "brands_heading2",
        "label": "Heading2",
        "default": "我們的品牌"
      }
    ],
    "presets": [
      {
        "name": "t:sections.page.presets.name"
      }
    ]
  }
{% endschema%}

{% stylesheet %}

  .span_img {
    position: absolute;
    top: 40%;
    font-size: 60px;
    font-weight: bold;
    color: purple;
    cursor: pointer;
    left: .5%;
    z-index: 1;
  }
  .span_img:nth-of-type(2) {
    left: 98%;
    text-align: right;
  }
  .section_img {
    width: 98%;
    height: 300px;
    background: #f4f4f4;
    margin: 10px auto;
    display: flex;
    justify-content: left;
    overflow-x: auto;
  }
  .section_img::-webkit-scrollbar {
    visibility: hidden;
  }
  .div_img {
    min-width: 100px;
    height: 200px;
    position: relative;
    left: 0;
    text-align: center;
    padding-top: 10px;
    margin: 10px 20px;
    color: white;
    background: purple;
    transition: 0.5s;
  }
{% endstylesheet %}

{% javascript %}
  var span_img = document.getElementByTagName('span_img');
  var div_img = document.getElementByClassName('div_img');
  var l = 0;
  span_img[1].onlick = () => {
    l++;
    for (var i of div_img) {
      if (l == 0) {
        i.style.left = "0px";
      }
      if (l == 1) {
        i.style.left = "-720px";
      }
      if (l == 2) {
        i.style.left = "-1480px";
      }
      if (l == 3) {
        i.style.left = "-2220px";
      }
      if (l == 4) {
        i.style.left = "-2960px";
      }
      if (l > 4) {
        l = 4;
      }
    }
  }
{% endjavascript %}}}}}