<!--<link rel="stylesheet" href="{{ 'brands.css' | asset_url }}" media="print" onload="this.media='all'">-->
<script src="{{'brands.js'|asset_url}}" defer="defer"></script>

<div style="background: #F9F5F0;width:100%;margin:200px auto;overflow: hidden;position: relative;margin:0px;">
  <!--Header-->



  <!--slidershow-->
    {%- if section.settings.brands_heading1!= blank or brands_heading2!= blank-%}<h1 style="padding-left:50px;width:80%;font: normal normal normal 16px/24px Noto Sans TC Light;letter-spacing: 0px;color: #C79090;font-size:45px;margin-bottom:50px;margin-top:0px;padding-top:52px;"> {{section.settings.brands_heading1}}
    </h1>
    <h1 style="padding-left:50px;width:80%;font: normal normal normal 16px/24px Noto Sans TC Light;letter-spacing: 0px;color: #C79090;font-size:25px;margin-bottom:50px;">{{section.settings.brands_heading2}}
    </h1>
  {%- endif -%}
  <button id="pre" class="span_img">&#139;</button>
  <button id="next" class="span_img">&#155;</button>
  <section id="slider" class="section_img">
    {%- if section.blocks.size > 0 -%}
      <div class="div_img">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'image' -%}
              {%- if block.settings.image != blank -%}
                {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                <img src="{{ block.settings.image | image_url: width: 100}}" alt="{{ block.settings.image.alt | escape }}" loading="lazy" style="margin-left:quto;margin-right:auto;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </section>

</div>

{% schema %}
  {
    "name": "brands",
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "brands_heading1",
        "label": "Heading1",
        "default": "OUR BRANDS"
      }, {
        "type": "text",
        "id": "brands_heading2",
        "label": "Heading2",
        "default": "我們的品牌"
      }
    ],
    "presets": [
      {
        "name": "t:sections.page.presets.name"
      }
    ]
  }
{% endschema%}

{% stylesheet %}

  .span_img {
    border: none;
    background: none;
    position: absolute;
    top: 70%;
    font-size: 23px;
    font-weight: 200;
    left: 2%;
    z-index: 1;
    color: #858181;
  }
  .span_img:nth-of-type(2) {
    left: 95%;
    text-align: right;
  }
  .section_img {
    width: 79%;
    margin: auto;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .section_img::-webkit-scrollbar {
    visibility: hidden;
  }
  .div_img {
    margin: 20px;
    position: relative;
    left: 0;
    text-align: center;
    transition: 0.5s;
    display: inline-block;

  }
{% endstylesheet %}
