<div style="width:100%;height:1200px;padding-left:50px;padding-bottom:50px;background: #EDE7DB 0% 0% no-repeat padding-box;" >
  {%- if section.settings.news_heading1!= blank or section.settings.news_heading2!= blank-%}
    <h1 style="width:80%;font: normal normal normal 16px/24px Noto Sans TC Light;letter-spacing: 0px;color: #C79090;font-size:45px;margin-bottom:50px;margin-top:0px;padding-top:52px;">{{section.settings.news_heading1}}</h1>
    <h1 style="width:80%;font: normal normal normal 16px/24px Noto Sans TC Light;letter-spacing: 0px;color: #C79090;font-size:25px;margin-bottom:50px;">{{section.settings.news_heading2}}</h1>
  {%- endif -%}

  <div style="display:inline;width:50%;float:left;padding-left: 50px;">
    {%- if section.settings.image -%}
      {%- assign image_size_2x = section.settings.image_width | times: 2 | at_most: 500 -%}
      <img
        srcset= "{{section.settings.image | image_url: width:section.settings.image_width }}, {{section.settings.image | image_url: width: image_size_2x }} 2x"
        src="{{section.settings.image | image_url: width: 200}}"
        alt="{{section.settings.image.alt | escape }}"
        loading="lazy"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.height }}"
        style="width:auto;max-height:350px; "
      >
      {%- endif -%}
  </div>

  <div style="display: inline;width:40%;position:absolute;padding-left:50px">
    {%- if section.settings.ImageHeading!= blank-%}
      <h2 class="banner__heading {{ section.settings.ImageHeading_size }}" style="margin-top: 0px;">{{ section.settings.ImageHeading | escape }}</h2>
    {%- endif -%}   
    {%- if section.settings.subheading!= blank-%}
      <div class="banner__text" {{ block.shopify_attributes }}>
        <span>{{ section.settings.subheading| escape }}</span>
      </div>
    {%- endif -%} 
    {%- if section.settings.button_label!= blank-%}
      <div class="banner__buttons">
        <a{% if section.settings.Button_link %} href="{{section.setting.Button_link }}"{% else %} role="link" aria-disabled="true"{% endif %} class="button {% if block.settings.button_style_secondary %}button--secondary{% else %}button--primary{% endif %}">{{ section.settings.button_label| escape }}</a>
      </div>
    {%- endif -%} 
  </div>

  

</div>
{% schema %}
  {
    "name": "News",
    "settings": [
    {
      "type": "text",
      "id": "news_heading1",
      "label": "Heading1",
      "default": "NEWS"
    },
    {
      "type": "text",
      "id": "news_heading2",
      "label": "Heading2",
      "default": "最新動向"
    },
    {
          "type": "image_picker",
          "id": "image",
          "label": "Image1"
        },
        {
          "type": "text",
          "id": "ImageHeading",
          "default": "Heading",
          "label": "Image Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Tell your brand's story through images",
          "label": "t:sections.slideshow.blocks.slide.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "Button_link",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Image1"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}